@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  padding: 1rem;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* H1 Animation */
@keyframes animation-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  background: linear-gradient(-45deg, #003d0a, #00ff41, #39ff14, #004d40);
  background-size: 400% 400%;
  animation: animation-gradient 4s ease infinite;
  background-clip: text;
  color: transparent;
}

/* Carousel Animation */
@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 30s linear infinite;
}

.pause-animation:hover {
  animation-play-state: paused;
}
