@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  padding: 1rem;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* H1 Animation */
@keyframes animation-gradient {
  to {
    background-position: 200% center;
  }
}

h1 {
  background: radial-gradient(
    circle at 100%,
    #006212,
    #00e139 50%,
    #00e139 75%,
    #006212
  );
  animation: animation-gradient 5s linear infinite;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Carousel Animation */
@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel 30s linear infinite;
}

.pause-animation:hover {
  animation-play-state: paused;
}
