@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  padding: 1rem;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, #2dd138, transparent);
  border-image-slice: 1;
}

/* Text Gradient Animation */
.animatimate-text-gradient {
  background: radial-gradient(
    circle at 100%,
    #8b4513,
    #ffd700 50%,
    #ffa500 75%,
    #8b4513
  );
  animation: animatimate-text-gradient 5s linear infinite;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes animatimate-text-gradient {
  to {
    background-position: 200% center;
  }
}

/* Carousel Animation */
.animate-carousel {
  animation: carousel 30s linear infinite;
}

.pause-animation:hover {
  animation-play-state: paused;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
